<footer id="quem-somos" class="quem-somos">
  <section class="quem-somos__info">
    <h1 class="quem-somos__info__title">Quem somos</h1>
    <p class="quem-somos__info__desc">Conheça a comunidade por trás da iniciativa</p>
  </section>
  <section class="quem-somos__people">
    <div class="quem-somos__people__card">
      <div class="quem-somos__people__card__image--roberta">
      </div>
      <div class="quem-somos__people__card__desc">
        <h1>Roberta</h1>
        <p>conteúdo</p>
      </div>
    </div>
    <div class="quem-somos__people__card">
      <div class="quem-somos__people__card__image--marcela">
      </div>
      <div class="quem-somos__people__card__desc">
        <h1>Andréia</h1>
        <p>chef de cozinha</p>
      </div>
    </div>
    <div class="quem-somos__people__card">
      <div class="quem-somos__people__card__image--andreia">
      </div>
      <div class="quem-somos__people__card__desc">
        <h1>Marcela</h1>
        <p>pequena produtora</p>
      </div>
    </div>
  </section>
</footer>
