.create-receita {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    h1 {
      font-weight: bold;
    }
    &__form {
      display: flex;
      flex-direction: column;
      border: solid 1px rgba($color: #000000, $alpha: 0.2);
      border-radius: 5px;
      &__imagem{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 10px;
      }
      &__input {
        display: flex;
        flex-direction: column;
        width: 350px;
        gap: 5px;
        padding: 10px 10px;
      }
      &__button {
        width: 50%;
        height: 40px;
        margin: 10px 10px;
        border: none;
        border-radius: 3px;
        background: #b40909;
        color: white;
      }
    }
  }
}
#tipoImagem{
    width: 41%;
}

#link{
  height: 20px;
  width: 342px;
}
      
@media screen and (min-width: 0px) {
    .create-receita{
      height: calc(100vh - 3*54px);
    }
  }
  
  @media screen and (min-width: 768px) {
    .create-receita{
      height: calc(100vh - 3*72px);
    }
  }